<div class="col-md-12 col-xl-12">
	<div class="card tbl-card">
		<div class="table-responsive">
			<table class="table table-hover mb-0">
				<thead>
					<tr>
						<th>user_id</th>
						<th>username</th>
						<th>email</th>
						<th>status</th>
						<th class="text-end"></th>
					</tr>
				</thead>
				<tbody>
				@for (user of users; track user.id) {
					<tr>

						<td>{{ user.id }}</td>
						<td>{{ user.username }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.status }}</td>
						<td class="text-end">
							<button class="btn btn-sm btn-outline-info btn-primary" (click)="itemDetails(user.id)">Ver</button>
						</td>
					</tr>
				}
				</tbody>
			</table>
		</div>
	</div>
</div>
