<div class="auth-main">
  <div class="auth-wrapper v3">

    <div class="auth-form">

      <div class="auth-header">
        <a><img src="assets/images/logo-dark.svg" alt="logo" /></a>
      </div>

      <div class="card my-5">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="mb-0"><b>Recovery</b></h3>
            <a [routerLink]="['/auth/register']" class="link-primary">No tienes cuenta?, crea una</a>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="email">Email Address</label>
            <input type="email" class="form-control" id="email" placeholder="Email Address" value="info@codedthemes.com" />
          </div>

          <div class="d-grid mt-4">
            <button type="button" class="btn btn-primary">Recuperar</button>
          </div>


        </div>
      </div>



      <div class="auth-footer row">
        <div class="col my-1">
          <p class="m-0">
            Copyright ©<a href="https://codedthemes.com/" target="_blank">Ougt Malakias</a>
          </p>
        </div>
        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item"><a href="https://ougt.cl/" target="_blank">Contacto</a></li>
          </ul>
        </div>
      </div>



    </div>
  </div>
</div>
